<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aplicación de egresados | Registro</title>
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="row" style="width: 100%;">
        <div class="col-lg-6 shadow-lg p-3 mb-5 mx-auto"> 
          <div class="card">
            <div class="card-header text-white" style="background-color: #348414;">Registrarse</div>
            <div class="card-body">
              <form id="formRegister" action="/register" method="POST">        
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre completo</label>
                    <input id="name" name="name" type="text" class="form-control" aria-describedby="emailHelp">              
                </div>
                <div class="mb-3">
                    <label for="user" class="form-label">Nombre de usuario</label>
                    <input id="user" name="user" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Contraseña</label>
                    <input id="pass" name="pass" type="password" class="form-control">
                </div>                            
            </div>
            <div class="card-footer bg-transparent">
              <a href="/" type="button" class="btn btn-secondary">Cancelar</a>
              <button type="submit" class="btn text-white" style="background-color: #348414;">Registrarse</button>
            </div>
            </form>
          </div>   
        </div>
      </div>
    </div>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
        }).then(()=>{
          window.location = '/<%= ruta %>'
        })
      </script>
    <% } %>

  </body>
</html>